/* Universal Selector */
* {
  background-color: bisque;
}

/*  Selector */
button {
  font-size: 17px;
}

/* List Selector */
h1,
h2 {
  font-size: 2.2em;
  color: darkolivegreen;
}

/* Id Selector */
/* we can use ID_Selector only once in our CSS styling code */
#signup {
  font-weight: bold;
  color: #f1faee;
  background-color: #1d3557;
}

/* Class Selector */
.tag {
  font-size: 20px;
  text-decoration: underline green;
  color: blueviolet;
  background-color: tomato;
}

/* General Decendent Selector (at any position child of it's parent) */
.post a {
  color: black;
  background-color: darkgrey;
}

footer ul a {
  font-size: 20px;
  color: tomato;
}

/* Adjacent Selector (right after the other) */
h2+button {
  font-weight: bold;
  color: blueviolet;
}

/* Direct Decendent Selector (child of the parent not a subChild) */
footer>a {
  color: darkred;
}

/* Attribute Selector */
input[type='text'] {
  font-size: 15px;
  color: darkgreen;
}

/* strictly those post classes whose are inside the Section */
section[class='post'] {
  font-size: 17px;
}

/* contains the hot_key anywhere in sentence   */
a[href*='home'] {
  background-color: black;
}

/* ends with the hot_key */
a[href$='ut'] {
  background-color: lightslategrey;
}

/* contains the word puppies */
a[href~='puppies'] {
  background-color: darkolivegreen;
}
