h1
{
  color: darkgreen;
}

div{
  width: 200px;
  height: 180px;
  background-color: whitesmoke;
}

div:nth-of-type(2n+1){

  background-color: bisque;
}

#box1{
  border: 4px inset cornflowerblue;
  box-sizing: content-box;
  padding: 10px;
}

#box2{
  border-width: 4px;
  /*border-style: inset double;*/
  border-style: inset dashed;
  border-color: palevioletred;
  box-sizing: content-box;
  padding: 10px;
}

#box3{
 border-width: 4px;
border-color:  chartreuse;
/*border-style: groove ridge;*/
border-style: outset hidden;
 box-sizing: content-box;
 padding: 10px;
}
