h1
{
    width: 180px;
    color: darkslateblue;
    border: 5px groove  aquamarine;
    padding: 1px;
    margin-left: 20%;
    text-align: center;
    background-color: bisque;
    font-size: 25px;
    line-height: 30px;
}

.s1{
  width: 250px;
  height: 250px;
  background-color: burlywood;
}
div{

  background-color: aqua;
    width: 50%;
    height: 50%;
}
/* The em property works according to the font size of parent */
.em{
  font-size: 15px;
}
h2{
  color: darkolivegreen;
  font-size: 1.5em;
}
section>h3{
  color: blueviolet;
  font-size: 2em;
}
section>p{
  font-size: 2em;
}
