h1
{
    width: 180px;
    color: darkslateblue;
    border: 5px groove  aquamarine;
    padding: 1px;
    margin-left: 20%;
    text-align: center;
    background-color: bisque;
    font-size: 25px;
    line-height: 30px;
}

.s1{
  width: 250px;
  height: 250px;
  background-color: burlywood;
}
.sd1{

  background-color: aqua;
    width: 50%;
    height: 50%;
}

/* Rm's */

/* The em property works according to the font size of parent */
#em{
  font-size: 15px;
}
#em h2{
  color: darkolivegreen;
  font-size: 1.5em;
}
 #em h3{
  color: blueviolet;
  font-size: 2em;
}
 #em p{
  font-size: 2em;
}

#em button{
  font-size: 0.8em;
  margin-left: 20px;
  padding: 0 10px;
  background-color: #2a9d8f;
  color: white;
  border-radius: 0.8em;
}
#em aside{
  color: red;
  font-size: 28px;
  background-color: burlywood;
  width: 260px;
}
#em ul{
  font-size: 1.5em;
}

/* Rem's */

#rem h2{
  color: darkolivegreen;
  font-size: 2rem;
}
 #rem h3{
  color: blueviolet;
  font-size: 1.5rem;
}
 #rem p{
  font-size: 1rem;
}

#rem button{
  font-size: 1.5rem;
  margin-left: 20px;
  padding: 0 10px;
  background-color: #2a9d8f;
  color: white;
  border-radius: 2rem;
}
#di{
  color: darkgreen;
  font-size: 28px;
  background-color: burlywood;
  width: 80px;
}
#rem ul{
  font-size: 1.5rem;
}
